[submodule "server/vendor/protobuf"]
	path = server/vendor/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "server/vendor/nakama-common"]
	path = server/vendor/nakama-common
	url = https://github.com/heroiclabs/nakama-common
[submodule "nakama-cpp-eu4"]
	path = nakama-cpp-eu4
	url = https://github.com/mxork/nakama-cpp-eu4
